<input
  class="form-control me-2"
  type="search"
  placeholder="Search"
  aria-label="Search"
/>
<button class="btn btn-outline-success" type="submit">Search</button>

<div class="vehicleForm">
  <h4>Vehicle Details</h4>
  <div class="col-auto detailRow">
    <label for="vehicleModel" class="form-label vLabel">Model</label>
    <input required type="text" class="form-control" id="vehicleModel" />
  </div>
  <div class="col-auto detailRow">
    <label for="licensePlate" class="form-label vLabel">License Plate</label>
    <input required type="text" class="form-control" id="licensePlate" />
  </div>
  <div class="col-auto detailRow">
    <label for="vehicleMadeYear" class="form-label vLabel">Made Year</label>
    <input required type="text" class="form-control" id="vehicleMadeYear" />
  </div>
</div>
