<div class="userRegContainer">
  <h1>User Registration Form</h1>

  <div class="registrationForm form-control">
    <div class="userForm">
      <h4 (click)="clearTeaxtFields()">User Details</h4>
      <div class="col-auto detailRow">
        <label for="userName" class="form-label uLabel">Name</label>
        <input
          required
          type="text"
          id="userName"
          [(ngModel)]="newUser.name"
          class="form-control"
        />
      </div>
      <div class="col-auto detailRow">
        <label for="userEmail" class="form-label uLabel">Email</label>
        <input
          type="email"
          id="userEmail"
          [(ngModel)]="newUser.email"
          class="form-control"
          required
        />
      </div>
      <div class="col-auto detailRow">
        <label for="userContact" class="form-label uLabel">Contact</label>
        <input
          type="text"
          id="userContact"
          [(ngModel)]="newUser.contact"
          class="form-control"
        />
      </div>
      <div class="col-auto detailRow">
        <label for="userPassword" class="form-label uLabel">Password</label>
        <input
          type="password"
          id="userPassword"
          required="true"
          class="form-control"
          [(ngModel)]="newUser.password"
        />
      </div>
    </div>
    <div class="vr"></div>
    <div class="vehicleForm">
      <h4 (click)="getAllUsers()">Vehicle Details</h4>
      <div class="col-auto detailRow">
        <label for="vehicleModel" class="form-label vLabel">Model</label>
        <input
          required
          type="text"
          class="form-control"
          id="vehicleModel"
          [(ngModel)]="newVehicle.model"
        />
      </div>
      <div class="col-auto detailRow">
        <label for="licensePlate" class="form-label vLabel"
          >License Plate</label
        >
        <input
          required
          type="text"
          class="form-control"
          id="licensePlate"
          [(ngModel)]="newVehicle.licensePlate"
        />
      </div>
      <div class="col-auto detailRow">
        <label for="vehicleMadeYear" class="form-label vLabel">Made Year</label>
        <input
          required
          type="text"
          class="form-control"
          id="vehicleMadeYear"
          [(ngModel)]="newVehicle.madeYear"
        />
      </div>
    </div>

    <button
      id="btnRegister"
      class="btn btn-light"
      type="submit"
      (click)="registerDetails()"
    >
      Register
    </button>
  </div>
</div>
