.topLev{
    position: fixed;
    margin-top: -50px;
    margin-bottom: 50px;
    z-index: 1;
}
h1{
    
    margin-bottom: 80px;
    z-index: -10;
}

.repairTable{
    width:70vw;
    z-index: -10;
}