<div class="top-lev row">
  <button
    [routerLink]="['/login-dashboard']"
    id="btnLogin"
    class="btn btn-light"
  >
    Login
  </button>
  <button
    [routerLink]="['/user-registration']"
    id="btnSignUp"
    class="btn btn-light"
  >
    Sign up
  </button>
</div>

<div class="card-row row">
  <div class="completedRepairsCard">
    <h5 style="color: #ba84f4; margin-top: 10px" class="fw-bold">
      Registered Customers
    </h5>
    <p id="fCount" class="badge text-bg-primary text-wrap">
      {{ registeredCustomers }}
    </p>
  </div>
  <div class="ongoingRepairsCard">
    <h5 style="color: #ba84f4; margin-top: 10px" class="fw-bold">
      Overall Bookings
    </h5>
    <p id="oCount" class="badge text-bg-success text-wrap">
      {{ bookingCount }}
    </p>
  </div>
</div>
