<div class="top-lev row">
  <button
    [routerLink]="['/login-dashboard']"
    id="btnLogin"
    class="btn btn-light"
  >
    Login
  </button>
  <button
    [routerLink]="['/user-registration']"
    id="btnSignUp"
    class="btn btn-light"
  >
    Sign up
  </button>
</div>

<div class="card-row row">
  <div class="completedRepairsCard">
    <h5 style="color: #37163b; margin-top: 10px">Completed services</h5>
    <p id="fCount">20344</p>
  </div>
  <div class="ongoingRepairsCard">
    <h5 style="color: #37163b; margin-top: 10px">Ongoing services</h5>
    <p id="oCount">20344</p>
  </div>
</div>
