<div class="form-signin w-100 m-auto">
  <h1 class="h3 mb-3 fw-normal">Please Enter Your Registerd Email</h1>

  <div class="form-floating">
    <input
      type="email"
      class="form-control m-3"
      id="userMail"
      [(ngModel)]="userEmail"
      placeholder="name@example.com"
    />
  </div>
  <button
    (click)="sendOTP()"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Send OTP
  </button>
</div>

<!-- <button
  type="button"
  class="btn btn-primary"
 
  data-bs-whatever="@mdo"
>
  Open modal for @mdo
</button>
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  data-bs-whatever="@fat"
>
  Open modal for
</button>
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  data-bs-whatever="@getbootstrap"
>
  Open modal for
</button> -->

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h1
          class="modal-title fs-5"
          style="color: white"
          id="exampleModalLabel"
        >
          Enter OTP Code
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body bg-danger-subtle">
        <div class="mb-3">
          <div class="row codeRow">
            <input
              type="text"
              [(ngModel)]="code1"
              class="form-control"
              id="code_1"
            />
            <input
              type="text"
              [(ngModel)]="code2"
              class="form-control"
              id="code_2"
            />
            <input
              type="text"
              [(ngModel)]="code3"
              class="form-control"
              id="code_3"
            />
            <input
              type="text"
              [(ngModel)]="code4"
              class="form-control"
              id="code_4"
            />
            <input
              type="text"
              [(ngModel)]="code5"
              class="form-control"
              id="code_5"
            />
            <input
              type="text"
              [(ngModel)]="code6"
              class="form-control"
              id="code_6"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          (click)="checkOTP()"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal2"
          data-bs-dismiss="modal"
          class="btn btn-primary"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Enter New Password -->

<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <h2 class="fs-5">Enter New Password</h2>
        <input
          type="password"
          id="password_1"
          class="form-control is-valid"
          [(ngModel)]="password1"
          value="Mark"
          required
        />
        <hr />
        <h2 class="fs-5">Re-Enter the Password</h2>
        <input
          type="password"
          id="password_2"
          class="form-control is-invalid"
          (click)="comparePasswords()"
          [(ngModel)]="password2"
          value="Otto"
          required
        />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="confirmPassword()"
          data-bs-dismiss="modal"
        >
          Reset Password
        </button>
      </div>
    </div>
  </div>
</div>
